body{
    margin: auto;
}
.container{
    width: 540px;
    height:540px;
   background-color: #7ea5aa;
    position: relative;
    left: 0;
    right: 0;
    
    margin: auto;
}
.content{
    width: 540px;
    height: 540px;
   background-color: #7ea5aa;
    position: relative;
    left: 0;
    right: 0;
    top:30px;
    margin: auto;
}
.head{
    width: auto;
    height: 80px;
    background-color: rgb(216, 214, 221);
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.inputfield{
    width: 540px;
    height: 240px;
    background-color: #cfdddb; 
    margin:20px 20px 20px 0px;
    border-radius: 5px;
 
  
}
   
.videoframe{
    width: 540px;
    height: 300px;
    background-color: rgb(255, 0, 149);
   
}
.inputform{
    width: 400px;
    height:150px;
   
    position: relative;
    left: 0;
    right: 0;
     bottom: 15px;
    margin: auto;
}
#imdbid{
 
    width: 300px;
    height: 40px;
    position: relative;
    display: block;
    margin : 0 auto;
    top:20px;
    border-radius: 10px;
    
}
#button{
       width: 80px;
    height:40px;
    position: relative;
    display: block;
    margin : 0 auto;
    top:20px; 
    border-radius: 6px;
   background-color: rgb(94, 7, 255);
   font-size: 15px;

}
.headertitle{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     display: inline-block;
     vertical-align: middle;
     line-height: normal;
     position: relative;
     top: 18px;
}

.tab{
    width: auto;
    height: 45px;
    background-color: blue;
   
}
.tab1{
    width: 100%;
    height: 45px;
  float: left;
    text-align: center;
    display: block;
    position: relative;
    top:9px;
    font-size: 20px;
}
.tab2{
    width: 100%;
    height: 45px;
  float: right;
    text-align: center;
    display: block;
    position: relative;
    top:9px;
    font-size: 20px;
}
.tab1p{
    background-color: rgb(39, 88, 179);
    width: 50%;
    height: 45px;
    display: block;
    
}
.tab2p{
    background-color: rgb(207, 221, 219); 
    width: 50%;
    height: 45px;
     position: relative;
    left:50%;
   bottom: 45px;
}
.Anda{
    text-decoration: none;
    color:black
}
.novideo{
    display: none;
}
.notframe{
display: none;
}